body {
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-size: large;
}

tr.out-of-date {
    background-color: #FF9933;
}

tr.out-of-date.master-on-staging {
    background-color: #FFFF99;
}

tr.up-to-date {
    background-color: LightGreen;
}
