{% extends "layout.html" %}
{% block body %}

{%if repoinfo %}
<p id="help">Legend: <span class="up-to-date">up to date</span> <span class="out-of-date master-on-staging">out of date, master on staging</span> <span class="out-of-date">out of date, not on staging</span></p>
<table style="width:100%">
  <tr>
    <th>Repo</th>
    <th>Master</th>
    <th>Production</th>
  </tr>
{% for repo in repoinfo %}
  <tr class="{% if repo.up_to_date %}up-to-date{% else %}out-of-date{% endif %} {% if repo.master_on_staging %}master-on-staging{% endif %}">
    <td><div class="repo-name"><a href="https://github.com/{{ repo.repo_full_name }}">{{ repo.repo_full_name }}</a></div></td>
    <td>
        {% for t in repo.master_tags %}
            <a href="https://github.com/{{ repo.repo_full_name }}/tree/{{ t.name }}"</a>{{ t.name }}</a><br/>
        {% endfor %}
        {% if repo.master_tags|length > 0 %}
            <a href="https://github.com/{{ repo.repo_full_name }}/commit/{{ repo.master_tags[0].commit.sha }}">commit</a>
        {% endif %}
    </td>
    <td>
        {% for t in repo.production_tags %}
            <a href="https://github.com/{{ repo.repo_full_name }}/tree/{{ t.name }}"</a>{{ t.name }}</a><br/>
        {% endfor %}
        {% if repo.production_tags|length > 0 %}
          <a href="https://github.com/{{ repo.repo_full_name }}/commit/{{ repo.production_tags[0].commit.sha }}">commit</a>
        {% endif %}
    </td>
{% endfor %}
</table>
{% endif %}
{% endblock %}
